<div class="container text-center">
    <h1 style="margin-top: 50px;color: white">Welcome to Vision</h1> 
    <h5 style="margin-top: 20px;color: gray">Press the button to download desktop client</h5> 
    <button type="button" class="btn btn-primary" style="margin-top: 50px;height: 60px;width: 200px;" (click)="openLink('http://vision.servegame.com/vision/updates/VisionSetup.msi')">Download</button>
    <p style="margin-top: 60px;color: gray">.NET Core 6 x64 or higher is required to run this application</p> 
    <p style="margin-top: 20px;color: gray">You can download it from here:</p> 
    <button type="button" class="btn btn-secondary" style="margin-top: 10px;height: 40px;width: 100px;" (click)="openLinkInNewTab('https://dotnet.microsoft.com/en-us/download/dotnet/6.0/runtime')">.NET Core</button>
</div>


