<div class="justify-content-center d-flex">
    <form [formGroup]="resetPasswordForm" (ngSubmit)="resetPasswordForm['valid'] && resetPassword()" autocomplete="off" style="width: 350px;" *ngIf="responseString === ''">
        <h2 class="text-center" style="color: white;margin-top: 30px;margin-bottom: 30px;">Set new password</h2>
        <div class="form-group mt-2">
            <input type="password" class="form-control" placeholder="New Password" formControlName="newPassword" [disabled]="submitted"
                [ngClass]="{ 'is-invalid': submitted && resetPasswordForm.get('newPassword')?.errors }"/>
            <div *ngIf="resetPasswordForm.get('newPassword')?.errors?.['minlength']" class="text-danger">
                Password must be at least 8 characters long
            </div>
            <div *ngIf="resetPasswordForm.get('newPassword')?.errors?.['maxlength']" class="text-danger">
                Password must have a maximum of 15 characters
            </div>
        </div>
    
        <div class="form-group mt-2">
            <input type="password" class="form-control" placeholder="Confirm Password" formControlName="confirmPassword" [disabled]="submitted"
                [ngClass]="{ 'is-invalid': submitted && resetPasswordForm.get('confirmPassword')?.errors }"/>
                <div *ngIf="resetPasswordForm.get('confirmPassword')?.errors?.['matching']" class="text-danger">
                    Passwords do not match
                </div>
        </div>
    
        <div class="form-group text-center mt-3">
            <button class="btn mr-2" style="background-color: #0AA1DD;" type="submit" [disabled]="!resetPasswordForm['valid']">Submit</button>
        </div>
    </form>
    <h1 class="text-center" style="font-size: 40px;margin-top: 100px;color: white" *ngIf="responseString !== ''">{{responseString}}</h1> 
</div>

